.ds-container {
  box-sizing: border-box;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  min-height: 1px;
  margin-top: 5px;
  margin-bottom: 10px; }

.ds-content-wrapper {
  border: 1.5px solid #dee2e6;
  min-height: 178px;
  max-height: 450px;
  overflow-y: auto; }

.ds-dash-selection {
  padding: 2rem 2rem; }
  .ds-dash-selection h3 {
    margin-bottom: 3rem; }

.ds-dialog {
  text-align: right; }

.ds-total {
  text-align: center; }
